<ul class="list-group">
    <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home
    </li>
    <li class="list-group-item" routerLink="experience" routerLinkActive="active">Experiencie</li>
    <li class="list-group-item" routerLink="skills" routerLinkActive="active">Skills</li>
    <li class="list-group-item" routerLink="contact" routerLinkActive="active">Contact</li>
    <li class="list-group-item" routerLink="pokedex" routerLinkActive="active">Pokedex</li>
</ul>